.buttonJoin {
	margin:auto;
  display:block;
	margin-bottom: 100px;
	font-size: 18px;
	padding: 10px;
	text-decoration: none !important;
}

.buttonJoin:hover {
	margin:auto;
  display:block;
	margin-bottom: 100px;
	font-size: 18px;
	padding: 10px;
	text-decoration: none !important;
}