.marginTop {
    margin-top: 100px;
}

._blogItem {
    margin-bottom: 25px;
}

._profileImg {
    height: 50px;
    border-radius: 50%;
}

._blogItemName {
    font-size: 16px;
    text-decoration: none;
}

._blogItemTime {
    font-size: 12px;
}

._blogItemDesc{
    margin-left: 25px;
}